<!--
<h2>Start Wars Movies</h2>

<ul>
  <li *ngFor=" let movie of movies">
    <app-movie [movie] = "movie"></app-movie>
  </li>

</ul>
-->


<nav>
  <h2>Star Wars Movies</h2>

</nav>

<ul>
  <li *ngFor="let movie of movies">
    <h3 >Episode ID : {{movie.episode_id}}- {{movie.title}}</h3>
    <h3 >{{movie.name}}</h3>
    <p >Release Date : {{movie.release_date}} </p>
    <p >Producer : {{movie.producer}} </p>
    <p >Opening Crawl </p>
    <p  class="crawl">: {{movie.opening_crawl}}  </p>
  </li>
</ul>
