<!--The content below is only a placeholder and can be replaced.-->

<!--<md-toolbar color="primary">
  <span>  Welcome to {{title}}! </span>
  <md-toolbar-row>

    <button md-raised-button color="accent" routerLink="/movies">Button 1</button>
    <button md-raised-button color="accent" routerLink="/characters">Button 2</button>

  </md-toolbar-row>

</md-toolbar>-->

<nav color="primary">
  <span>  Welcome to {{title}}! </span>


    <button  routerLink="/movies">Button 1</button>
    <button  routerLink="/characters">Button 2</button>



</nav>

<router-outlet></router-outlet>
